<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Get Involved
            <br />
            With GUIH
        </h2>
        <p>
            Anyone who is humble and passionate about serving, sharing their time and skills and building up GUIH to a World Class Not for Profit Organization is welcome to join us!
        </p>
        <a href="https://docs.google.com/forms/d/1m9-nxtW-yKfgIW6DhJv9SW49dpuUIkGmjAIRmiGrX3Q/viewform?ts=616ba4ba&edit_requested=true" class="cs-button-solid">Get in Contact</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/Screen Shot 2024-01-24 at 12.04.55 am.png">
        <source media="(min-width: 601px)" srcset="/assets/images/Screen Shot 2024-01-24 at 12.04.55 am.png">
        <img aria-hidden="true" decoding="async" src="/assets/images/Screen Shot 2024-01-24 at 12.04.55 am.png" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>