<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/Screen Shot 2024-01-18 at 1.15.37 am.png" alt="logo" width="264" height="78"></a>
          
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Pages</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">Donate</a>
                    </li>
                    <li>
                        <a href="/projects">About Us</a>
                    </li>
                    <li>
                        <a href="/testimonials">Our Projects</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li> <a href="/contact">
                        {{client.address.lineOne}}<br>
                        {{client.address.lineTwo}}<br>
                        {{client.address.city}}
                        {{client.address.state}}
                        {{client.address.zip}}
                    </a></li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                   
                </ul>
                
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">Melbourne Website Supply</a>
        <span class="copyright">
            To God Be The Glory ✞</span>
            
    </div>
</footer>