---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-229">
    <div class="cs-container">
        <div class="cs-flex-group">

            


           
            <h1 class="cs-title">Making a difference. <br> One person, one family & one project at a time.</h1>
            <img class="cs-logo" src="/assets/images/guih_logo_large.png" alt="logo" width="243" height="210" decoding="async">
            <p class="cs-text">
              Since June 2021, GUIH has served the homeless people on the streets of Melbourne. We exist to provide those in need with a sense of hope, and to let them know that they are not alone during times of difficulty.
            </p>
            <a href="" class="cs-button-solid">Our Projects</a>
            <a href="#scroll-to-donate-section" class="cs-button-transparent">
                DONATE
            </a>
        </div>
    </div>

    <!-- Background Image 
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/Background-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/Background.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/Background.jpg" alt="mountains" width="2250" height="1500" aria-hidden="true">
    </picture>
    -->
</section>
                                                       

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/charity-10.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/charity-10.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/charity-10.webp" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
             
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Who We Are</h2>
                <p class="cs-bold-and-enlarged-text">
                    Our Chairman Alister Fuller’s main area of expertise has been dealing with homeless people in Melbourne CBD since 2017.
                </p>
                <p class="cs-text">
                    With this experience on hand, Alister gathered a few like-minded people working in the fields of Social Work, Community Development and with real-life experience, to find ways in serving this cohort of people who are Homeless sleeping it rough. This is how GUIH was born in June 2021.
                </p>
                <p class="cs-text">
                    Due to the pandemic, Alister had to stop feeding the homeless in CBD on Monday nights. Now that the pandemic is over GUIH volunteers have started reaching out to the people struggling in the streets of Melbourne CBD, Sunbury, Tarneit, Clayton South, Frankston and St Albans through outreach. 


                </p>
                <p class="cs-text">
                    GUIH exists to give them hope and let them know that they are not alone during this difficult time. Our aim is to journey with this cohort of people in finding ways in bridging the gaps in services and getting them back to some stability in life.


                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                       I can do what you cannot do. Together we can do great things.
                    </p>
                    <span class="cs-name">Mother Teresa</span>
                   
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">Our Work Around Melbourne</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/Screen Shot 2024-01-23 at 11.54.52 pm.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/Screen Shot 2024-01-23 at 11.54.52 pm.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Screen Shot 2024-01-23 at 11.54.52 pm.png" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/Screen Shot 2024-01-23 at 11.55.18 pm.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/Screen Shot 2024-01-23 at 11.55.18 pm.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Screen Shot 2024-01-23 at 11.55.18 pm.png" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/Screen Shot 2024-01-23 at 11.55.08 pm.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/Screen Shot 2024-01-23 at 11.55.08 pm.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Screen Shot 2024-01-23 at 11.55.08 pm.png" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/Screen Shot 2024-01-23 at 11.55.57 pm.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/Screen Shot 2024-01-23 at 11.55.57 pm.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Screen Shot 2024-01-23 at 11.55.57 pm.png" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/Screen Shot 2024-01-24 at 12.02.47 am.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/Screen Shot 2024-01-24 at 12.02.47 am.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Screen Shot 2024-01-24 at 12.02.47 am.png" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/Screen Shot 2024-01-23 at 11.57.20 pm.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/Screen Shot 2024-01-23 at 11.57.20 pm.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Screen Shot 2024-01-23 at 11.57.20 pm.png" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/Screen Shot 2024-01-23 at 11.58.57 pm.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/Screen Shot 2024-01-23 at 11.58.57 pm.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Screen Shot 2024-01-23 at 11.58.57 pm.png" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/Screen Shot 2024-01-23 at 11.55.38 pm.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/Screen Shot 2024-01-23 at 11.55.38 pm.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Screen Shot 2024-01-23 at 11.55.38 pm.png" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/Screen Shot 2024-01-24 at 12.04.55 am.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/Screen Shot 2024-01-24 at 12.04.55 am.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Screen Shot 2024-01-24 at 12.04.55 am.png" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <a id="scroll-to-donate-section" href="/projects" class="cs-button-solid">View Full Gallery</a>
        </div>
    </section>


<!-- ============================================ -->
<!--               Donate Section              -->
<!-- ============================================ -->
    <section id="donate-section">
        <div class="container">
            <h2 class="title">
                Make a Donation
            
            </h2>
  
            <div class="donation-options">
                  <!-- Button 1 -->
            <a href="#" class="donation-option">
                <img src="/assets/images/Screen Shot 2024-01-24 at 12.35.37 am.png" alt="PayPal Logo">
            </a>
            <!-- Button 2 -->
            <a href="#" class="donation-option">
                <img src="
                /assets/images/Screen Shot 2024-01-24 at 1.07.47 am.png" alt="Another Logo">
            </a>
            <!-- Button 3 -->
            <a href="#" class="donation-option">
                <img src="/assets/images/Screen Shot 2024-01-24 at 1.13.02 am.png" alt="Another Logo">
            </a>
            <!-- Button 4 -->
            <a href="#" class="donation-option">
                <img src="/assets/images/Screen Shot 2024-01-24 at 1.19.34 am.png" alt="Another Logo">
            </a>


         
                </div>


                <h3>

                    <span class="whitetext">ACCOUNT NAME:</span> GUIH ORG LTD
                    <br>
                    <br>
                    
                    <span class="whitetext"> BSB:</span>   013 441
                    <br>
                    <br>
                    <span class="whitetext">ACCOUNT NUMBER:</span> 324 256 387
                    <br>
                    
                </h3>
                          
                
            </div>
            <a href="/contact" class="cs-button-solid">More Ways to Help</a>
        </div>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/Screen Shot 2024-01-24 at 1.47.43 am.png">
            <source media="(min-width: 601px)" srcset="/assets/images/Screen Shot 2024-01-24 at 1.47.43 am.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/Screen Shot 2024-01-24 at 1.47.43 am.png" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
        </picture>
    
    </section>

    <!-- ============================================ -->
<!--                Recent Blog Posts               -->
<!-- ============================================ -->

<section id="blog-986">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Blog</span>
                <h2 class="cs-title">Latest Project Updates</h2>
            </div>
            <a href="" class="cs-button-solid">View All Blog Posts</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/WhatsApp-Image-2023-11-26-at-21.01.25_3f3f0e26.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/WhatsApp-Image-2023-11-26-at-21.01.25_3f3f0e26.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/WhatsApp-Image-2023-11-26-at-21.01.25_3f3f0e26.jpg" alt="stylist" width="413" height="480">
                </picture>
                <div class="cs-info">
                    <span class="cs-date">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/calendar.svg" alt="stylist" width="20" height="20">
                        19 Jan, 2024
                    </span>
                    <h3 class="cs-h3">Outreach at St Albans</h3>
                    <span class="cs-desc">
                       A great afternoon with volunteers making cup noodles, tea, coffee, distributing food packs, and used clothes were available people to help themselves. 
                    We engaged with ...
                    </span>
                    <a href="" class="cs-link">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/WhatsApp-Image-2023-11-26-at-21.01.25_048c796f.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/WhatsApp-Image-2023-11-26-at-21.01.25_048c796f.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/WhatsApp-Image-2023-11-26-at-21.01.25_048c796f.jpg" alt="stylist" width="413" height="480">
                </picture>
                <div class="cs-info">
                    <span class="cs-date">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/calendar.svg" alt="stylist" width="20" height="20">
                        07 Jan, 2022
                    </span>
                    <h3 class="cs-h3">BBQ Lunch at Fox Street</h3>
                    <span class="cs-desc">
                        We were able to distribute 30 show bags and 10 hampers to vulnerable people. Two Vinnies representatives...
                    </span>
                    <a href="" class="cs-link">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/Screen Shot 2024-01-24 at 2.34.01 am.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/Screen Shot 2024-01-24 at 2.34.01 am.png">
                    <img loading="lazy" decoding="async" src="/assets/images/Screen Shot 2024-01-24 at 2.34.01 am.png" alt="stylist" width="413" height="480">
                </picture>
                <div class="cs-info">
                    <span class="cs-date">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/calendar.svg" alt="stylist" width="20" height="20">
                        12 Nov, 2023
                    </span>
                    <h3 class="cs-h3">Christmas Hamper Collection and Distribution</h3>
                    <span class="cs-desc">
                        Thanks to our volunteers and sponsors for making this possible. Christmas Hampers are being packed. Our 1st distribution will be at...
                    </span>
                    <a href="" class="cs-link">Read More</a>
                </div>
            </li>
        </ul>
    </div>
</section>
                                

   

    {% include 'components/cta.html' %}
{% endblock %}